<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <title>HRM Common Page</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/common-layout.css" th:href="@{/css/common-layout.css}" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <!--Header-->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<button class="w3-button w3-white w3-xlarge" onclick="w3_open()" id="openNav">&#9776;</button>-->
                    <a class="navbar-brand w3-button w3-xlarge" onclick="w3_open()" id="openNav" href="#">&#9776;</a>
                    <a class="navbar-brand" href="#">Human Resource Management</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" th:href="@{/home}">Home</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
        <div style="margin-top:50px">
            <div class="w3-sidebar w3-bar-block w3-dark-grey w3-animate-left" style="display:none" id="mySidebar">
                <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Contents &times;</button>
<!-- ========== Dashboard ========================================================================= -->
                <a href="#" th:href="@{/home}" class="w3-bar-item w3-button">Dashboard</a>
<!-- ===========Profile=========================================================================== -->
                <div class="">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle w3-button" style="margin-left:-50%">Profile <b class="caret"></b></a>
                            <ul class="dropdown-menu">
<!-- =========================== Profile : User =================================================== -->
                                <li th:classappend="${page == 'profile_overview' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/profile-overview}">Overview</a>
                                </li>
                                <li th:classappend="${page == 'profile_edit' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/profile-edit}">Edit Profile</a>
                                </li>
                                <li th:classappend="${page == 'profile_personal_info' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/profile-personal-info}">Personal Info</a>
                                </li>
                                <li th:classappend="${page == 'profile_contact_info' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/profile-contact-info}">Contact Info</a>
                                </li>
                                <li th:classappend="${page == 'profile_job_info' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/profile-job-info}">Job Info</a>
                                </li>
                                <li th:classappend="${page == 'profile_external_link' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/profile-external-link}">External Link</a>
                                </li>
                                <li class="divider"></li>
<!-- =========================== Profile : Admin =========================================================== -->
                                <li sec:authorize="hasRole('ADMIN')" th:classappend="${page == 'profile_user_list' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/profile-user-list}">User List</a>
                                </li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${page == 'profile_user_update' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/profile-user-update}">Update</a>
                                </li>
                                <li sec:authorize="isAuthenticated()" th:classappend="${page == 'profile_user_registration' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/profile-user-registration}">Create New User</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
<!-- ========== Attendance ============================================================================== -->
                <div class="">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle w3-button" style="margin-left:-34%">Attendance <b class="caret"></b></a>
                            <ul class="dropdown-menu">
<!-- ========================== Attendance : User======================================================== -->
                                <li th:classappend="${page == 'attendance_user_punch' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/attendance-user-punch}">Attend Sign</a>
                                </li>
                                <li th:classappend="${page == 'attendance_user_overview' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/attendance-user-overview}">Overview</a>
                                </li>
                                <li th:classappend="${page == 'attendance_user_update_request' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/attendance-user-overview-update-request}">Update Request</a>
                                </li>
                                <li class="divider"></li>
<!-- =========================== Attendance : Admin ======================================================== -->
                                <li th:classappend="${page == 'attendance_admin_overview' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/attendance-admin-overview}">User Overview</a>
                                </li>
                                <li th:classappend="${page == 'attendance_admin_update' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/attendance-admin-update}">Update</a>
                                </li>
                                <li th:classappend="${page == 'attendance_admin_take_action' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/attendance-admin-take-action}">Take Action</a>
                                </li>
                                <li th:classappend="${page == 'attendance_admin_remark' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/attendance-admin-remark}">Remark</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

<!-- =========== Leaves ================================================================================= -->
                <div class="">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle w3-button" style="margin-left:-50%">Leaves <b class="caret"></b></a>
                            <ul class="dropdown-menu">
<!-- =========================== Leaves : User =========================================================== -->
                                <li th:classappend="${page == 'leaves_user_history' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/leave-user-history}">Leave History</a>
                                </li>
                                <li th:classappend="${page == 'leaves_user_apply' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/leave-user-apply}">Apply</a>
                                </li>
                                <li th:classappend="${page == 'leaves_user_cancellation' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/leave-user-cancellation}">Cancel Leave</a>
                                </li>
                                <li class="divider"></li>
<!-- ========================== Leaves : Admin ============================================================= -->
                                <li th:classappend="${page == 'leaves_admin_recent' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/leave-admin-recent}">Recent Application</a>
                                </li>
                                <li th:classappend="${page == 'leaves_admin_overview' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/leaves-admin-overview}">Overview</a>
                                </li>
                                <li th:classappend="${page == 'leaves_admin_history' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/leaves-admin-history}">History</a>
                                </li>
                                <li th:classappend="${page == 'leaves_admin_update' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/leave-admin-update}">Update</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
<!-- =========== Payroll ============================================================================= -->
                <div class="">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle w3-button" style="margin-left:-50%">Payroll <b class="caret"></b></a>
                            <ul class="dropdown-menu">

<!-- =========================== Payroll : User ======================================================= -->
                                <li th:classappend="${page == 'payroll_my_payment' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/payroll-my-payment}">My Payment</a>
                                </li>
                                <li th:classappend="${page == 'payroll_history' ? 'active' : ''}">
                                    <a href="#" th:href="@{/user/payroll-history}">History</a>
                                </li>
                                <li class="divider"></li>
<!-- ========================== Payroll : Admin ======================================================= -->
                                <li th:classappend="${page == 'payroll_admin_overview' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/payroll-admin-overview}">Overview</a>
                                </li>
                                <li th:classappend="${page == 'payroll_admin_set_payment' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/payroll-admin-set-payment}">Set Payment</a>
                                </li>
                                <li th:classappend="${page == 'payroll_load_specific_user' ? 'active' : ''}">
                                    <a href="#" th:href="@{/admin/payroll-load-specific-user}">Load Specific Payroll</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <a href="#" th:href="@{/test-image}" class="w3-bar-item w3-button">Test Image Upload</a>
            </div>
            <!-- Page Content Overlay -->
            <!--<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>-->
            <!-- Page Content -->
            <div id="main">
                <!--<button class="w3-button w3-white w3-xlarge" onclick="w3_open()" id="openNav">&#9776;</button>-->
                <div layout:fragment="content" class="w3-container">
                    <p>Page content goes here</p>
                </div>
            </div>
        </div>

        <script>
            function w3_open() {
                document.getElementById("main").style.marginLeft = "13%";
                  document.getElementById("mySidebar").style.width = "13%";
                  document.getElementById("mySidebar").style.display = "block";
                  document.getElementById("openNav").style.display = 'none';
            }
            function w3_close() {
                document.getElementById("main").style.marginLeft = "0%";
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("openNav").style.display = "inline-block";
            }
        </script>

    </body>
</html>