* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    /*height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /*background-color: #2196F3;*/
  /*background-color: #e5e5e5;*/
  background-color: #bbbbbb;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 8px;
  font-size: 17px;
  text-align: center;
}