<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">
    <head>
        <title>HRM Attendance Overview Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/background.css" th:href="@{/css/background.css}" />
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 class="well">Attendance Admin Overview</h1>
                <div class="container">
                    <form class="row well" th:action="@{/admin/attendance-remark}" method="post">
                        <h3 class="well">Users Attendance</h3>
                        <table class="table well" id="myTable">
                            <thead>
                            <tr>
                                <th>Serial</th>
                                <th>Attend Id</th>
                                <th>User Id</th>
                                <th>Sign</th>
                                <!--<th>In</th>-->
                                <!--<th>Out</th>-->
                                <th>Status</th>
                                <!--<th>Late</th>-->
                                <!--<th>Worked</th>-->
                                <!--<th>Shift</th>-->
                                <!--<th>Performance</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="attendance, attendanceStat : ${attendanceList}" class="success">
                                <td th:text="${attendanceStat.count}">101010</td>
                                <td th:text="${attendance.attendId}">121</td>
                                <td th:text="${attendance.userId}">12:32pm</td>
                                <td th:text="${attendance.signTime}">12:32pm</td>
                                <!--<td th:text="${attendance.inTime}">12:40pm</td>-->
                                <!--<td th:text="${attendance.outTime}">1.28hr</td>-->
                                <td th:text="${attendance.status}">00:08hr</td>
                                <!--<td th:text="${attendance.lateBy}">00:08hr</td>-->
                                <!--<td th:text="${attendance.}">Day</td>-->
                                <!--<td th:text="${attendance.}">1.7%</td>-->
                                <td><input id="myCheck" name="check" type="checkbox" th:value="${attendance.attendId}"  th:onclick="'javascript:myFunction()'"/></td>

                            </tr>
                            </tbody>
                        </table>
                        <input style="display:none" name="check" type="checkbox" value="null" checked=""/>
                        <div class="form-group" th:unless="${myCheck} == true" style="margin-left:87%">
                            <div class="col-sm-2">
                                <!--<button id="checkBoxSelectBtn" type="submit" class="btn btn-primary btn-block" style="display:none">Submit</button>-->
                                <button id="checkBoxSelectBtn" type="submit" class="btn btn-primary custom-button-width">Remark User</button>
                            </div>
                        </div>
                    </form>



                    <!--<div class="row well col-sm-4">-->
                        <!--<form th:action="@{/admin/attendance-add-remark-list}" method="get">-->
                            <!--<h4>Remark Attend Id</h4>-->
                            <!--<input name="remark" type="text" placeholder="Enter Id Here.." class="form-control" id="idField"/>-->
                            <!--<div class="col-sm-5">-->
                                <!--<button type="submit" class="btn btn-primary btn-block" style="margin-top:10px">Add</button>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                </div>
            </div>
        </div>


        <script type="text/javascript"  src="../static/js/attendance-admin-overview.js"
                th:src="@{/js/attendance-admin-overview.js}"></script>

        <script>
            function myFunction() {
                var checkBox = document.getElementById("myCheck");
                var text = document.getElementById("checkBoxSelectBtn");
                if (checkBox.checked == true){
                    text.style.display = "block";
                } else {
                   text.style.display = "none";
                }
            }
        </script>

    </body>
</html>