<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">
    <head>
        <title>HRM Attendance Update - Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/background.css" th:href="@{/css/background.css}" />
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 class="col-sm-9 well">Attendance Update Form</h1>
                <form>
                    <div class="col-sm-9 well">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label style="margin-left:5px">First Name</label>
                                <input type="text" placeholder="Enter First Name Here.." class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>