<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">
    <head>
        <title>HRM Leave Application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/leave-user-apply.css" th:href="@{/css/leave-user-apply.css}" />
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/background.css" th:href="@{/css/background.css}" />
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <form>
                    <div class="container">
                        <h1 class="well">Leave Application Form</h1>
                        <div class="col-lg-12 well">
                            <h3 style="margin-left:1%">Employee Details</h3>
                            <div class="row">
                                <div class="col-sm-9 form-horizontal">
                                    <!--<div class="form-group">-->
                                    <!--<div class="col-sm-5">-->
                                    <!--<h4 style="display:inline-block;">Id : </h4>-->
                                    <!--<h4 style="display:inline-block;">2014200000071</h4>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                    <!--<div class="col-sm-5">-->
                                    <!--<h4 style="display:inline-block;">Name : </h4>-->
                                    <!--<h4 style="display:inline-block;">Summit</h4>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group" style="margin-left:-30%">
                                        <label class="col-md-4 control-label" style="margin-top:1.5%">Id: </label>
                                        <div class="col-md-6">
                                            <h3 name="otp">2014200000071</h3>
                                        </div>
                                        <label class="col-md-4 control-label" style="margin-top:1.5%">Full Name: </label>
                                        <div class="col-md-6">
                                            <h3 name="otp">Fayazur Rahman Summit</h3>
                                        </div>
                                        <label class="col-md-4 control-label" style="margin-top:1.5%">Department: </label>
                                        <div class="col-md-6">
                                            <h3 name="otp">CSE</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 well">
                            <div class="row">
                                <h3 style="margin-left:1%">Leave Request</h3>
                                <div>
                                    <!--Apply Date-->
                                    <div class="form-group col-sm-4">
                                        <label>Apply Date</label>
                                        <input type="datetime-local" placeholder="Enter Phone Number Here.." class="form-control"/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <!--Apply From/To-->
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Apply From</label>
                                            <input type="date" placeholder="12 FEB, 2018" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4 form-group">
                                            <label>Apply To</label>
                                            <input type="date" placeholder="19 DEC, 2018" class="form-control"/>
                                        </div>
                                    </div>
                                    <!--Leave Reason-->
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Leave Type</label>
                                            <div class="form-group">
                                                <select name="rl" class="form-control">
                                                    <option>Personal</option>
                                                    <option>Sick</option>
                                                    <option>Planned</option>
                                                    <option>Vacation</option>
                                                    <option>Maternity</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Total leave days-->
                                        <div class="form-group col-sm-6">
                                            <label>Total leave days</label>
                                            <input type="text" placeholder="Total days of Leave" class="form-control"/>
                                        </div>
                                    </div>
                                    <!--Leave Description-->
                                    <div class="form-group">
                                        <label>Leave Description</label>
                                        <textarea placeholder="Leave Description" rows="3" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--HR-Records-->
                        <div class="col-lg-12 well">
                            <div class="row">
                                <h3 style="margin-left:1%">HR-Records</h3>
                                <div style="margin:0% 2% 0% 2%">
                                    <div class="form-group">
                                        <div>
                                            <h3 style="display:inline-block;">Total Leave :</h3>
                                            <h3 style="display:inline-block;" th:text="${department}">36</h3>
                                        </div>
                                        <div>
                                            <h3 style="display:inline-block;">Balance : </h3>
                                            <h3 style="display:inline-block;" th:text="${department}">6</h3>
                                        </div>
                                        <div>
                                            <h3 style="display:inline-block;">Taken : </h3>
                                            <h3 style="display:inline-block;" th:text="${department}">30</h3>
                                        </div>
                                    </div>
                                    <div class="grid-container">
                                        <div class="grid-item">Reason</div>
                                        <div class="grid-item">Total</div>
                                        <div class="grid-item">Taken</div>
                                        <div class="grid-item">Remaining</div>
                                        <div class="grid-item">Personal</div>
                                        <div class="grid-item">6</div>
                                        <div class="grid-item">7</div>
                                        <div class="grid-item">8</div>
                                        <div class="grid-item">Sick</div>
                                        <div class="grid-item">7</div>
                                        <div class="grid-item">8</div>
                                        <div class="grid-item">9</div>
                                        <div class="grid-item">Planned</div>
                                        <div class="grid-item">7</div>
                                        <div class="grid-item">8</div>
                                        <div class="grid-item">9</div>
                                        <div class="grid-item">Vacation</div>
                                        <div class="grid-item">7</div>
                                        <div class="grid-item">8</div>
                                        <div class="grid-item">9</div>
                                        <div class="grid-item">Maternity</div>
                                        <div class="grid-item">7</div>
                                        <div class="grid-item">8</div>
                                        <div class="grid-item">9</div>
                                        <div class="grid-item">Other</div>
                                        <div class="grid-item">7</div>
                                        <div class="grid-item">8</div>
                                        <div class="grid-item">9</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--2 Column grid-->
                        <div class="col-sm-12">
                            <div class="row">
                                <!--Recommandation-->
                                <!--<div class="column" style="background-color:#aaa;">-->
                                <div class="column well">
                                    <h3>Recommendation</h3>
                                    <div class="form-group">
                                        <div>
                                            <h4 style="display:inline-block;">Name :</h4>
                                            <h4 style="display:inline-block;" th:text="${department}">Name Someone</h4>
                                        </div>
                                        <div>
                                            <h4 style="display:inline-block;">Designation :</h4>
                                            <h4 style="display:inline-block;" th:text="${department}">Des</h4>
                                        </div>
                                    </div>
                                </div>
                                <!--Leave Approval-->
                                <!--<div class="column" style="background-color:#bbb;">-->
                                <div class="column well">
                                    <h3>Leave Approval</h3>
                                    <div class="form-group">
                                        <div>
                                            <h4 style="display:inline-block;">Name :</h4>
                                            <h4 style="display:inline-block;" th:text="${department}">Name Someone</h4>
                                        </div>
                                        <div>
                                            <h4 style="display:inline-block;">Designation :</h4>
                                            <h4 style="display:inline-block;" th:text="${department}">Des</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--2 Column grid-->
                        <div class="col-sm-12">
                            <div class="row">
                                <!--Recommandation-->
                                <!--<div class="column" style="background-color:#aaa;">-->
                                <div class="column well">
                                    <h3 style="margin-left:1%">Emergency Contact</h3>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Name</label>
                                                <input type="text" placeholder="Name" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <textarea placeholder="Address" rows="3" class="form-control"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label>Phone</label>
                                                <input type="text" placeholder="Contact number" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Leave Approval-->
                                <!--<div class="column" style="background-color:#bbb;">-->
                                <div class="column well">
                                    <h3 style="margin-left:1%">Pay in Advanced &amp; Deductions</h3>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <label>Pay in Advance is available for Rec &amp; LSL only complete pay periods only, provided 4
                                                    weeks notice is given to HR. Would you like to receive pay in advance? </label>
                                                <div>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" value=""/>Yes
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" value=""/>No
                                                    </label>
                                                </div>
                                                <label>If your pay in advance extends beyond 30 June, your tax may be affected. Would you
                                                    like your pre-payment to be split between tax years (first pre-payment in current financial year;
                                                    second pre-payment in first pay in July)</label>
                                                <div>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" value=""/>Yes
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" value=""/>No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-lg btn-info" style="margin:0% 0% 2% 10%">Apply</button>
                </form>
            </div>
        </div>
    </body>
</html>