<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">
    <head>
        <title>HRM Leave All Applications Overview</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/background.css" th:href="@{/css/background.css}" />
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 class="well">Leave All Applications Overview</h1>
                <div class="container">
                    <div class="row well">
                        <div>
                            <table class="table well">
                                <h3>All Leave history</h3>
                                <thead>
                                <tr>
                                    <th>Leave Id</th>
                                    <th>Apply Date</th>
                                    <th>Apply To</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Reason Descriptip</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="success">
                                    <td>1002461</td>
                                    <td>12 Feb, 2018</td>
                                    <td>CO-ORDINATOR</td>
                                    <td>13 Feb, 2018</td>
                                    <td>14 Feb, 2018</td>
                                    <td>Personal reason</td>
                                    <td>Personal</td>
                                    <td>Granted</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>