<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">
    <head>
        <title>HRM Payroll Overview - Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/background.css" th:href="@{/css/background.css}" />
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 class="well">Payroll Overview - Admin</h1>
                <div class="container">
                    <div class="row">
                        <div>
                            <table class="table well">
                                <h3>Total Earnings</h3>
                                <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Year</th>
                                    <th>Basic</th>
                                    <th>House Rent</th>
                                    <th>Convence</th>
                                    <th>Medical</th>
                                    <th>Advanced/Load</th>
                                    <th>Interest</th>
                                    <th>Other All</th>
                                    <th>Educational</th>
                                    <th>Bonus</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="warning">
                                    <td>2014200000071</td>
                                    <td>2018</td>
                                    <td>15000</td>
                                    <td>2000</td>
                                    <td>2000</td>
                                    <td>2000</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>2000</td>
                                    <td>1500</td>
                                    <td>1500</td>
                                    <td>1200</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table well">
                                <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Year</th>
                                    <th>Incentive</th>
                                    <th>Leave Encasement</th>
                                    <th>Perquisite</th>
                                    <th>Reimbursement</th>
                                    <th>Special</th>
                                    <th>Over Time</th>
                                    <th>Arrears</th>
                                    <th>Child Fund</th>
                                    <th>Stipen</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="warning">
                                    <td>2014200000071</td>
                                    <td>2018</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>500</td>
                                    <td>0</td>
                                    <td>1000</td>
                                    <td>1000</td>
                                    <td>1000</td>
                                    <td>1000</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5%">
                        <div>
                            <table class="table well">
                                <h3>Total Deductions</h3>
                                <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Year</th>
                                    <th>TDS</th>
                                    <th>Interest</th>
                                    <th>PF</th>
                                    <th>Professional Tex</th>
                                    <th>Advanced/Load</th>
                                    <th>Other</th>
                                    <th>Leave</th>
                                    <th>Security Deposit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="warning">
                                    <td>2014200000071</td>
                                    <td>2018</td>
                                    <td>2000</td>
                                    <td>2500</td>
                                    <td>500</td>
                                    <td>1500</td>
                                    <td>1000</td>
                                    <td>500</td>
                                    <td>1000</td>
                                    <td>1000</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>