<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">
    <head>
        <title>HRM Set Payroll</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/background.css" th:href="@{/css/background.css}" />
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 class="well">Set Payment</h1>
                <div class="col-lg-12">
                    <form th:object="${payroll}" th:action="@{/admin/set-payment}" method="post" class="form-horizontal" role="form" style="margin:0% 0% 0% 0%">
                        <!--ID-->
                        <div class="row" style="margin:0% 0% -1% 0%">
                            <div class="col-sm-6 form-group">
                                <h3>User Id</h3>
                                <input name="userId" th:field="*{userId}" type="text" class="form-control" placeholder="2014200000071"/>
                                <!--<label th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="validation-message"></label>-->
                            </div>
                        </div>
                        <div class="row ">
                            <h2>Total Earnings</h2>
                            <div class="col-sm-12 well">
                                <!--Total Earning-->
                                <div class="row" >
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Basic</label>
                                        <input name="basic" th:field="*{basic}"  type="text" placeholder="Basic" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>House Rent</label>
                                        <input name="houseRent" th:field="*{houseRent}" type="text" placeholder="House Rent" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Convence</label>
                                        <input name="convince" th:field="*{conveyance}" type="text" placeholder="Convince" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Medical</label>
                                        <input name="medical" th:field="*{medical}" type="text" placeholder="Medical" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Advanced/Load</label>
                                        <input name="advancedOrLoan" th:field="*{advanceOrLoan}" type="text" placeholder="Advanced/Load" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Interest</label>
                                        <input name="interest" th:field="*{interest}" type="text" placeholder="Interest" class="form-control"/>
                                    </div>
                                <!--</div>-->
                                <!--&lt;!&ndash;Total Earning&ndash;&gt;-->
                                <!--<div class="row" style="margin-left:1%">-->
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Other All</label>
                                        <input name="otherAll" th:field="*{otherAll}" type="text" placeholder="Other All" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Educational</label>
                                        <input name="educational" th:field="*{educationalAll}" type="text" placeholder="Educational" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Bonus</label>
                                        <input name="bonus" th:field="*{bonus}" type="text" placeholder="Bonus" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Incentive</label>
                                        <input name="incentive" th:field="*{incentiveOrCommission}" type="text" placeholder="Incentive" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Leave Encasement</label>
                                        <input name="leaveEncasement" th:field="*{leaveEncashment}" type="text" placeholder="Leave Encasement" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Perquisite</label>
                                        <input name="perquisite" th:field="*{perquisite}" type="text" placeholder="Perquisite" class="form-control"/>
                                    </div>
                                <!--</div>-->
                                <!--&lt;!&ndash;Total Earning&ndash;&gt;-->
                                <!--<div class="row" style="margin-left:1%">-->
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Reimbursement</label>
                                        <input name="reimbursement" th:field="*{reimbursement}" type="text" placeholder="Reimbursement" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Special</label>
                                        <input name="special" th:field="*{special}" type="text" placeholder="Special" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Over Time</label>
                                        <input name="overtime" th:field="*{overtime}" type="text" placeholder="Over Time" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Arrears</label>
                                        <input name="arrears" th:field="*{arrears}" type="text" placeholder="Arrears" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Child Fund</label>
                                        <input name="childFund" th:field="*{childFund}" type="text" placeholder="Child Fund" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Stipen</label>
                                        <input name="stipen" th:field="*{stipen}" type="text" placeholder="Stipen" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h2>Total Deductions</h2>
                            <div class="col-sm-12 well">
                                <!--Total Deductions-->
                                <div class="row">
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>TDS</label>
                                        <input name="tds" th:field="*{tds}" type="text" placeholder="TDS" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Interest</label>
                                        <input name="interestDED" th:field="*{interestDED}" type="text" placeholder="Interest" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>PF</label>
                                        <input name="pfDED" th:field="*{pf}" type="text" placeholder="PF" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Professional Tex</label>
                                        <input name="professionalTexDED" th:field="*{professionalTaxDED}" type="text" placeholder="Professional Tex" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Advanced/Loan</label>
                                        <input name="advancedOrLoanDED" th:field="*{advanceOrLoanDED}" type="text" placeholder="Advanced/Loan" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Other</label>
                                        <input name="otherDED" th:field="*{otherDED}" type="text" placeholder="Other" class="form-control"/>
                                    </div>
                                <!--</div>-->
                                <!--&lt;!&ndash;Total Deductions&ndash;&gt;-->
                                <!--<div class="row" style="margin-left:1%">-->
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Leave</label>
                                        <input name="leaveDED" th:field="*{leaveDED}" type="text" placeholder="Leave" class="form-control"/>
                                    </div>
                                    <div class="col-sm-2 form-group" style="margin-left:1%">
                                        <label>Security Deposit</label>
                                        <input name="securityDepositDED" th:field="*{securityDepositeDED}" type="text" placeholder="Security Deposit" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary btn-block">Set Payment</button>
                            </div>
                        </div>
                        <span th:utext="${successMessage}"></span>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>