<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">
    <head>
        <title>HRM User List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/background.css" th:href="@{/css/background.css}" />
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 class="well">User List</h1>
                <div class="container">
                    <a href="#" th:href="@{/admin/user/create}" class="btn btn-primary btn-lg active" role="button" style="margin-bottom:10px">Create New User</a>
                    <div class="row">
                        <form th:action="@{/admin/registration}" method="get">
                            <table class="table well" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Serial</th>
                                        <th>User Id</th>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Department</th>
                                        <th>Designation</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="success" th:each="user, userStat : ${userList}" onclick="javascript:showRow(this);">
                                        <td th:text="${userStat.count}">1</td>
                                        <td th:text="${user.id}">2014200000071</td>
                                        <td th:text="${user.firstName}">Fayazur</td>
                                        <td th:text="${user.middleName}">Rahman</td>
                                        <td th:text="${user.lastName}">Summit</td>
                                        <td th:text="${user.email}">www.frsummit1@gmail.com</td>
                                        <td th:text="${user.department}">CSE</td>
                                        <td th:text="${user.designation}">Student</td>
                                        <td th:text="${user.myRole}">ADMIN</td>
                                        <!--<td><input name="check" type="checkbox" th:value="${user.id}"/></td>-->
                                        <td><input th:href="@{/check-box}" name="check" type="button" th:value="${user.id}"/></td>
                                        <!--<td>-->
                                            <!--<form action="#" th:action="@{/admin/user-edit-list}"  method="get">-->
                                                <!--<input th:value="user.id" name="buttonId" type="text" class=""/>-->
                                                <!--<button type="submit">Submit</button>-->
                                            <!--</form>-->
                                        <!--</td>-->
                                    </tr>
                                </tbody>
                            </table>
                            <!--<a href="#" th:href="@{/check-box}" class="btn btn-primary btn-lg active" role="button" style="margin-bottom:10px">CheckBox</a>-->
                        </form>
                        First Name:<input type="text" name="fname" id="fname"/><br/><br/>
                        Last Name:<input type="text" name="lname" id="lname"/><br/><br/>
                        Age:<input type="text" name="age" id="age"/><br/><br/>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript" language="javascript" type="text/javascript">
            function showRow(row){
            var x=row.cells;
            document.getElementById("fname").value = x[0].innerHTML;
            document.getElementById("lname").value = x[1].innerHTML;
            document.getElementById("age").value = x[2].innerHTML;
            }
        </script>

    <!--<script th:inline="javascript">
    <![CDATA[
            var table = document.getElementById('myTable');

            for(var i = 1; i < table.rows.length; i++){
                table.rows[i].onclick = function(){
                    //rIndex = this.rowIndex;
                    document.getElementById("fname").value = this.cells[0].innerHTML;
                    document.getElementById("lname").value = this.cells[1].innerHTML;
                    document.getElementById("age").value = this.cells[2].innerHTML;
                };
            }
    ]]>
    </script>-->
    </body>
</html>