<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">
    <head>
        <title>HRM User List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/background.css" th:href="@{/css/background.css}" />
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 class="well">User List</h1>
                <div class="container">
                    <a href="#" th:href="@{/admin/user/create}" class="btn btn-primary btn-lg active" role="button" style="margin-bottom:10px">Create New User</a>
                    <div class="row">
                        <div>
                            <table class="table well">
                                <thead>
                                    <tr>
                                        <th>Serial</th>
                                        <th>User Id</th>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Department</th>
                                        <th>Designation</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="success" th:each="user, userStat : ${userList}">
                                        <td th:text="${userStat.count}">1</td>
                                        <td th:text="${user.id}">2014200000071</td>
                                        <td th:text="${user.firstName}">Fayazur</td>
                                        <td th:text="${user.middleName}">Rahman</td>
                                        <td th:text="${user.lastName}">Summit</td>
                                        <td th:text="${user.email}">www.frsummit1@gmail.com</td>
                                        <td th:text="${user.department}">CSE</td>
                                        <td th:text="${user.designation}">Student</td>
                                        <td th:text="${user.myRole}">ADMIN</td>
                                        <!--<td><input name="" type="checkbox" /></td>-->
                                        <!--<td>-->
                                            <!--<form action="#" th:action="@{/admin/user-edit-list}"  method="get">-->
                                                <!--<input th:value="user.id" name="buttonId" type="text" class=""/>-->
                                                <!--<button type="submit">Submit</button>-->
                                            <!--</form>-->
                                        <!--</td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>