<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">

    <head>
        <title>Title</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div>
                <label><file style="display:inline-block;" th:text="${totalLeaves}">36</file></label>
                <!--<img src="${pageContext.request.contextPath}/Image/<%= h.getHomeID() %>" height="75px" width="75px"/>-->
                <!--<img th:text="${img}" name="image" src="image/avatar" height="75px" width="75px" align="left" />-->
                <img th:src="@{/image/${image_id}}" height="75px" width="75px" align="left" />
                <!--<img th:src="@{myimage}" height="75px" width="75px" align="left" />-->

                <img th:src="@{myimage}" th:height="75px" th:width="75px" th:align="left" />
                <!--<img th:src="@{/image/${image_id}}" th:height="75px" th:width="75px" th:align="left" />-->



                <img th:src="@{../image/paper.jpg}" height="75px" width="75px" align="left" />
                <img th:src="@{/resources/image/paper.jpg}" height="75px" width="75px" align="left" />
                <img src="https://www.w3schools.com/images/picture.jpg" height="75px" width="75px" align="left" />
                <!--<img src="${pageContext.request.contextPath}/resources/images/paper.jpg" height="75px" width="75px" align="left" />-->
            </div>


            <div align="center">
                <h1>Spring MVC - Hibernate File Upload to Database Demo</h1>
                <form th:action="@{/upload-image}" method="post" enctype="multipart/form-data">
                    <table border="0">
                        <tr>
                            <td>Pick file #1:</td>
                            <td><input type="file" name="fileUpload" size="50" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><input type="submit" value="Upload" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>