<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common_layout">

    <head>
        <title>Title</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div align="center">
                <h1>Spring MVC - Hibernate File Upload to Database Demo</h1>
                <form th:action="@{/upload-image}" method="post" enctype="multipart/form-data">
                    <table border="0">
                        <tr>
                            <td>Pick file #1:</td>
                            <td><input type="file" name="fileUpload" size="50" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><input type="submit" value="Upload" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>